@import "tailwindcss";
@plugin "daisyui";


@theme {
  --color-primary: #5f6fff;
  --breakpoint-tablet : 768px;
  --color-secondary: #E2E5FF;
  --color-btnHover: #7C82FF;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.menuNav .a.active{
  background-color: #5f6fff;
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
}

.desktopNav .a.active{
  text-decoration: underline;
  text-decoration-color: #5f6fff;
  text-underline-offset: 6px;
  font-weight: 500;
}

.specialDoctorNav .a.active div{
  background-color: #E2E5FF;
}

/*  */
a.active .sideBarNav {
  box-sizing: border-box;
  background-color: #919bf4;
  border-right: 8px solid #5f6fff;
  color: white;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
}

